@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

/* Custom Scrollbar --- */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #353940 #41454b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-1;
}

*::-webkit-scrollbar-track {
  @apply bg-OD_BLACK_90;
}

*::-webkit-scrollbar-thumb {
  @apply bg-OD_BLACK_95;
}
/* --- Custom Scrollbar */

/* Clerk Styles --- */
.cl-internal-b3fm6y,
.cl-internal-b4xm84,
.cl-userButtonPopoverFooter {
  @apply hidden;
}

.cl-navbar {
  @apply rounded-none bg-OD_BLACK;
}

.cl-card {
  @apply rounded-none bg-OD_BLACK p-6 shadow-none;
}

.cl-userButtonPopoverCard {
  @apply bg-OD_GRAY/5;
}

.cl-socialButtonsBlockButton {
  @apply rounded-none;
}

.cl-headerTitle,
.cl-headerSubtitle,
.cl-footerActionText,
.cl-userPreviewMainIdentifier,
.cl-userPreviewSecondaryIdentifier,
.cl-userButtonPopoverActionButtonText,
.cl-profileSectionTitleText,
.cl-accordionTriggerButton,
.cl-navbarMobileMenuButton,
.cl-navbarButton {
  @apply text-OD_GRAY;
}

.cl-internal-fqx4fd,
.cl-internal-of57g {
  @apply text-OD_GRAY/80;
}

.cl-modalCloseButton,
.cl-internal-1trxv31 {
  @apply text-OD_RED;
}

.cl-footerActionLink,
.cl-profileSectionPrimaryButton {
  @apply text-OD_BLUE/80 hover:text-OD_BLUE/50;
}

.cl-badge {
  @apply bg-OD_BLUE/20 text-OD_BLUE/80;
}
/* --- Clerk Styles */
